#header{
background-color: #b39ddb;
color: #9fa8da;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited,{
color: #5c6bc0;
}


caption{
background: #bcaaa4;
}
div.breadcrumbs{
background-color: blue;
}
















