{% extends 'base.html' %}

{% block title %}
     О нас
{% endblock %}

{% block sidebar %}

<!--            <div class="list-group">-->
<!--            {% include 'inc/_sidebar.html' %}-->
<!--            </div>-->

{% endblock %}

{% block content %}

<div class="container-fluid">


<div class="container-fluid">
<div class="who" >
<h1>Nunc pulvinar</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus in nunc et malesuada. Aliquam ut tincidunt tellus.
     Quisque sollicitudin rutrum est. In elementum purus eget neque commodo aliquam. Nulla facilisi. Maecenas vel euismod ipsum. Ut ut condimentum urna.
     Ut ipsum lectus, placerat viverra dapibus non, elementum quis felis. Duis gravida scelerisque mattis.</p>




<p><span class = "glyphicon glyphicon-book"></span></p>
<h1>Aenean at erat ac felis</h1>
<p>
     Ut auctor suscipit metus ac mollis. Nulla nec massa sit amet quam sagittis efficitur ac eget turpis. Maecenas enim odio, facilisis nec commodo nec, porttitor ut elit.
     Cras lacinia elit tristique diam vestibulum, vel porta sem varius. Sed dolor urna, aliquet a mattis id, interdum sit amet ligula. Donec in faucibus nisl.
     Aenean vel purus eu nisl imperdiet gravida. Integer non luctus tortor. Proin eget urna urna. Aenean lobortis, urna vitae pulvinar efficitur, velit nisi ornare metus, ac dapibus turpis est sed eros.
     Nam interdum, justo cursus aliquet condimentum, nisl libero pellentesque risus, ac dignissim lacus mauris quis quam. Sed varius ullamcorper dui, eget ullamcorper orci tristique tincidunt.
</p>

</div>
</div>



<p><span class = "glyphicon glyphicon-book"></span></p>

<h1>In porta ligula</h1>
<p>In porta ligula ut scelerisque laoreet. Nunc dignissim sollicitudin nulla sed venenatis. Morbi ornare purus eget lectus imperdiet vehicula.
     Vivamus a massa suscipit, vestibulum ex vel, fringilla justo. Sed cursus nisl fringilla, pharetra dui non, maximus nibh. Mauris id urna tellus.
     Donec lorem arcu, fringilla non lectus a, imperdiet suscipit orci. Nunc pulvinar nisi in nisl auctor vehicula.</p>
<p><span class = "glyphicon glyphicon-book"></span></p>


<h1>Mauris id urna tellus</h1>


    <div class="hide1">
<p><strong>In vestibulum volutpat tincidunt</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus in nunc et malesuada. Aliquam ut tincidunt tellus. Quisque sollicitudin rutrum est.
     In elementum purus eget neque commodo aliquam. Nulla facilisi. Maecenas vel euismod ipsum.
     Ut ut condimentum urna. Ut ipsum lectus, placerat viverra dapibus non, elementum quis felis. Duis gravida scelerisque mattis.</p>
</div>




    <div class="hide2">
<p><strong>Vivamus consequat non dolor euismod feugiat</strong></p>
<p>Vivamus consequat non dolor euismod feugiat. Maecenas finibus consequat augue, porttitor pellentesque mi tincidunt a. In sed mi eu dui fringilla porttitor.
     Phasellus facilisis pretium massa, vel dictum nibh sagittis at. Proin placerat turpis non dui molestie, in commodo ex dictum. Suspendisse tincidunt pellentesque tortor, sodales interdum tortor egestas vitae. Suspendisse rhoncus consequat nunc a scelerisque. Nunc eu condimentum ex, sit amet consectetur odio. Curabitur malesuada maximus facilisis.
</p>
</div>




    <div class="hide3">
<p><strong>Donec in faucibus nisl.</strong></p>
<p>Vivamus consequat non dolor euismod feugiat. Maecenas finibus consequat augue, porttitor pellentesque mi tincidunt a.
     In sed mi eu dui fringilla porttitor. Phasellus facilisis pretium massa, vel dictum nibh sagittis at. Proin placerat turpis non dui molestie, in commodo ex dictum.
     Suspendisse tincidunt pellentesque tortor, sodales interdum tortor egestas vitae. Suspendisse rhoncus consequat nunc a scelerisque. Nunc eu condimentum ex, sit amet consectetur odio.
     Curabitur malesuada maximus facilisis.
</p>
</div>




    <div class="hide4">
<p><strong>Curabitur fringilla iaculis orci</strong></p>
<p>Curabitur fringilla iaculis orci, quis feugiat dui pulvinar vel. Nullam mollis, ex maximus imperdiet euismod, lorem nibh varius enim, id pharetra ligula sem porta libero.
     Praesent varius dui id dolor fringilla euismod.</p>
</div>


</div>



{% endblock %}