{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}
<div class="">
    {% for i in news %}
    <div class="card mb-3">
      <div class="card-header">
          Категория: <a href="{% url 'category' i.category.pk%}">{{ i.category }}</a>
      </div>
      <div class="card-body">
        <div class="media">
          <div class="media-body">
            {% if i.photo %}
                  <img src="{{ i.photo.url }}" width="300px">
            {% else %}
                 <img src="https://www.escogroup.com/wwwroot/sites/default/files/2017-10/default-placeholder_2.png" width="300px">
            {% endif %}
        <h5 class="card-title {% cycle 'text-success'  'text-danger' %}">{{ i.title }}</h5>
        <p class="card-text">
          {{ i.content }}</p>
        <a href="{{ i.get_absolute_url }}" class="btn btn-info">Читать далее</a>
      </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        {{ i.created_date|date:"Y:m-d H:i" }}
      </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}

