{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block sidebar %}

            <div class="list-group">
            {% include 'inc/_sidebar.html' %}
            </div>

{% endblock %}

{% block content %}
{{ mixin_prop }}
            {% for i in newsAll %}
                <div class="card mb-3">
                  <div class="card-header">
                      Категория: <a href="{{ i.category.get_absolute_url }}">{{ i.category}}</a>
                  </div>
                  <div class="card-body">
                      <div class="media">
                          <div class="media-body">
                              {% if i.photo %}
                                    <img src="{{ i.photo.url }}" width="300">
                              {% else %}
                              <img src="https://image.winudf.com/v2/image/Y29tLnNydC50cmFja2Rpc3RyaWJ1dGlvbmFwcF9zY3JlZW5fMV9tOHJndTQyMw/screen-1.jpg?h=710&fakeurl=1&type=.jpg" width="300">
                              {% endif%}
                              <h5 class="card-title {% cycle 'text-success' 'text-danger' %}">{{i.title}}</h5>
                            <p class="card-text"> {{i.content}}</p>
                            <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Читать далее</a>
                              </div>
                          </div>
                  </div>
                  <div class="card-footer text-muted">
                    {{i.created_at|date:"Y:m-d H:i:s"}}
                  </div>
                </div>
            {% endfor %}
{% endblock  %}
