
{% extends 'base.html' %}
{% block title %}
    Тестовая страница
{% endblock %}
{% block sidebar %}

            <div class="list-group">
            {% include 'inc/_sidebar.html' %}
            </div>

{% endblock %}
{% block content %}

{% for name in page_objects.object_list %}

{{ name }}
<!--<nav aria-label="...">-->
<!--  <ul class="pagination">-->
<!--    <li class="page-item disabled">-->
<!--      <a class="page-link">Previous</a>-->
<!--    </li>-->
<!--    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--    <li class="page-item active" aria-current="page">-->
<!--      <a class="page-link" href="#">2</a>-->
<!--    </li>-->
<!--    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="#">Next</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
{% endfor %}

{% endblock  %}